/coc
/Code - Insiders
/configstore
/dconf
/dunst
/flameshot
/gtk-2.0
/gtk-3.0
/gtk-4.0
/neofetch
/nvim
/pulse
/spicetify
/spotify
/systemd
/Thunar
/xfce4
/yay
/EOS-greeter.conf
/EOS-initial-wallpaper.I3
/eos-update-notifier.first_init
/konsolerc
/mimeapps.list
/pavucontrol.ini
/picom.conf
/user-dirs.dirs
/user-dirs.locale
